<h2>Log in below</h2>

<%= @message if @message %>

<%= form_for(:session, url: sessions_path) do |f| %>
  <p>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </p>

  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.submit 'Log in', :name => 'log in', :class => "btn btn-info" %>
  </p>
<% end %>