<%= form_for @user, url: '/users/new_school' do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= "Error".pluralize(@user.errors.count) %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.messages.each do |message| %>
        <li><%= message[1][0] %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3 class="sub-header">INCS Resume Bank for Hiring Managers</h3>
  <h5>The INCS Resume Bank is a service provided by the Illinois Network of Charter Schools (INCS) to our member schools and non-member Illinois charter schools registered for the INCS Teacher & Administrator Job Fair. Through the INCS Resume Bank, you may access and search Job Seeker Profiles and resumes of hundreds of candidates for teaching, school leadership and other school positions, including job seekers registered for the 2019 INCS Teacher & Administrator Job Fair on April 6.</h5>
  <h4 class="register-header">School Registration for the 2019 INCS Teacher & Administrator Job Fair is coming soon!</h4>

  <h4 class="register-content-list">Access the INCS Resume Bank</h4>
  <ul class="register-content-list">
    <li><strong>New Users:</strong> INCS member schools may register below. Verification and approval of your account may take up to a week following registration. <strong>Only INCS member schools and other Illinois charters are able to register and, at the discretion of INCS, be granted access.</strong></li>
    <li><strong>Returning users:</strong> please click here to <a href="/sessions/new">log in</a>.</li>
  </ul>
   <br>
  <%= f.hidden_field :access, value: "pending" %>
  <div class="field field-flex">
  <em class="teacher-label"><%= f.label(:name, 'First name *')%></em>
    <%= f.text_field :first_name, size: 45 %><br>
  </div>
  <div class="field field-flex">
  <em class="teacher-label"><%= f.label(:name, 'Last name *')%></em>
    <%= f.text_field :last_name, size: 45 %><br>
  </div>
  <div class="field field-flex">
  <em class="teacher-label"><%= f.label(:name, 'Job title *')%></em>
    <%= f.text_field :job_title, size: 45 %><br>
  </div>
  <div class="field field-flex">
  <em class="teacher-label"><%= f.label(:name, 'School *')%></em>
    <%= f.text_field :school, size: 60 %><br>
  </div>
  <div class="field field-flex">
  <em class="teacher-label"><%= f.label(:name, 'Email (Please use work email to speed verification process.) *')%></em>
    <%= f.text_field :email, size: 45 %><br>
  </div>
  <div class="field field-flex">
  <em class="teacher-label"><%= f.label(:name, 'Confirm email *')%></em>
    <%= f.text_field :email_confirmation, size: 45 %><br>
  </div>
  <div class="field field-flex">
  <em class="teacher-label"><%= f.label(:name, 'Password *')%></em>
    <%= f.password_field :password %><br>
  </div>
  <div class="field field-flex">
  <em class="teacher-label"><%= f.label(:name, 'Confirm password *')%></em>
    <%= f.password_field :password_confirmation %><br>
  </div>

  <div class="actions">
    <%= f.submit 'Register', :name => 'register', :class => "btn btn-info" %>
  </div>
   <br>

<% end %>
