<%= form_for @user, url: '/users/new_school' do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.messages.each do |message| %>
        <li><%= message[1][0] %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Please fill out the form below to register as a School Leader.</h3>
  <h4>We recommended using your work email to speed up the process of verification.</h4>
  <br>

  <%= f.hidden_field :access, value: "pending" %>
  <div class="field field-flex">
  <em class="teacher-label"><%= f.label :first_name %></em>
    <%= f.text_field :first_name, size: 45 %><br>
  </div>
  <div class="field field-flex">
  <em class="teacher-label"><%= f.label :last_name %></em>
    <%= f.text_field :last_name, size: 45 %><br>
  </div>
  <div class="field field-flex">
  <em class="teacher-label"><%= f.label :school %></em>
    <%= f.text_field :school, size: 60 %><br>
  </div>
  <div class="field field-flex">
  <em class="teacher-label"><%= f.label :email %></em>
    <%= f.text_field :email, size: 45 %><br>
  </div>
  <div class="field field-flex">
  <em class="teacher-label"><%= f.label :email_confirmation %></em>
    <%= f.text_field :email_confirmation, size: 45 %><br>
  </div>
  <div class="field field-flex">
  <em class="teacher-label"><%= f.label :password %></em>
    <%= f.password_field :password %><br>
  </div>
  <div class="field field-flex">
  <em class="teacher-label"><%= f.label :password_confirmation %></em>
    <%= f.password_field :password_confirmation %><br>
  </div>

  <div class="actions">
    <%= f.submit 'Register', :name => 'register', :class => "btn btn-info" %>
  </div>
   <br>

<% end %>
