<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Please fill out the form below to register as a Candidate.</h3><br>

  <%= f.hidden_field :access, value: "teacher" %>
  <% if @resume != nil %><input type="hidden" name="resume_id" value="<%= @resume.id %>" /><% end %>
  <div class="field field-flex">
    <em class="teacher-label"><%= f.label :prefix %></em>
    <%= f.select :prefix, options_for_select(prefixes, @user.prefix),{}, class: 'form-control' %>
  </div>
  <div class="field-flex">
    <em class="teacher-label"><%= f.label(:name, "First name *") %></em>
    <%= f.text_field :first_name %><br>
  </div>
  <div class="field-flex">
    <em class="teacher-label"><%= f.label(:name, "Last name *") %></em>
    <%= f.text_field :last_name %>
  </div>

  <div class="field field-flex">
    <em class="teacher-label"><%= f.label(:name, "Email *") %></em>
    <%= f.text_field :email, class: 'med-field' %>
  </div>

  <div class="field field-flex">
    <em class="teacher-label"><%= f.label(:name, "Password *") %></em>
    <%= f.password_field :password %>
  </div>

  <div class="field field-flex">
    <em class="teacher-label"><%= f.label :phone_number %></em>
    <%= f.phone_field :phone_number %>
  </div>

  <div class="field field-flex">
    <em class="teacher-label"><%= f.label(:name, "Address Line 1") %></em>
    <%= f.text_field :street, class: 'long-field' %>
  </div>

  <div class="field field-flex">
    <em class="teacher-label"><%= f.label(:name, "Address Line 2") %></em>
    <%= f.text_field :street_second, class: 'long-field' %>
  </div>

  <div class="field field-flex">
    <em class="teacher-label"><%= f.label :city %></em>
    <%= f.text_field :city %>
  </div>

  <div class="field field-flex">
    <em class="teacher-label"><%= f.label :zip %></em>
    <%= f.text_field :zip, class: 'tiny-field' %>
  </div>

  <div class="field field-flex">
    <em class="select-label"><%= f.label :state %></em>
    <%= f.select :state, options_for_select(us_states,@user.state),{}, class: 'form-control' %>
  </div>

  <div class="field field-flex">
    <em class="select-label"><%= f.label :country %></em>
    <%= f.select :country, options_for_select(countries,@user.country),{}, class: 'form-control' %>
  </div><br><br>

  <div class="field">
    <em class="label-bold">
    <%= f.label(:name, "Please select the option that best fits you *") %></em><br>
  <div class="field-radio">
    <%= f.radio_button(:register2017, "bank") %>
    <%= f.label(:name, "I would like to add my resume to the INCS Online Resume Bank only.", class: 'flex-one') %><br>
  </div> 
  <div class="field-radio">
    <%= f.radio_button(:register2017, "both") %>
    <%= f.label :name, class: 'flex-one' do "I would like to add my resume to the INCS Online Resume Bank AND would like this to serve as my registration for the #{link_to('2017 Teacher Job Fair', 'https://www.incschools.org/events/tjf/')} on March 18th, 2017.".html_safe  end%>
  </div> 
  <div class="field-radio">
    <%= f.radio_button(:register2017, "jobfaironly") %>
    <%= f.label(:name, "I would only like to register for the 2017 Teacher Job Fair and would NOT like my resume to be added to the INCS Online Resume Bank for charter school leaders to see. Note: your resume is required in order to register you for the fair, but we will not include it in our online database if you select this option.", class: 'flex-one') %>
    </div> 
  </div> 

  <div class="field">
    <label><em class="label-bold">How did you hear about the 2017 INCS Job Fair? (Check all that apply) *</em></label><br>
    <ul class="checkbox-grid2">
      <% Source.all.order(:source_name).each do |source| %>
        <% if @user.sources.pluck(:source_name).include?(source.source_name) %>
          <li><input type="checkbox" name="sources[]" value="<%= source.source_name %>" checked/>
        <% else %>
          <li><input type="checkbox" name="sources[]" value="<%= source.source_name %>" />
        <% end %>
        <label><%= source.source_name %></label></li>
      <% end %>
    </ul>
  </div>
  <div class="field2">
    <input type="checkbox" name="sources[]" value=""/>
    <label>College jobs board, newsletter, or staff. If so, please specify which one.</label>
    <input type="text" name="add-sources" value="" /><br>
  </div>
  <div class="field2">
    <input type="checkbox" name="sources[]" value=""/>
    <label>Other (please specify so that we may thank our partners)</label>
    <input type="text" name="add-sources" value="" /><br>
  </div>
  <br>

  <div class="field">
    <label><em class="label-bold">Which field(s) does your desired position fall under? (Check all that apply) *</em></label><br>
    <ul class="checkbox-grid2">
    <% Position.all.order(:title).each do |pos| %>
      <% if @user.positions.pluck(:title).include?(pos.title) %>
        <li><input type="checkbox" name="positions[]" value="<%= pos.title %>" checked/>
      <% else %>
        <li><input type="checkbox" name="positions[]" value="<%= pos.title %>" />
      <% end %>
    <label><%= pos.title %></label></li>
    <% end %>
    </ul>
  </div>
  <div class="field2">
    <input type="checkbox" name="positions[]" value=""/>
    <label>Other (if multiple, separate with a comma)</label>
    <input type="text" name="add-positions" value="" />
  </div>
  <br>

  <div class="field">
    <label><em class="label-bold">Preferred Subject(s)</em></label><br>
    <ul class="checkbox-grid">
      <li><input type="checkbox" name="subs[]" value="None" />
      <label>N/A</label></li>
      <% Subject.all.order(:subject).each do |sub| %>
        <% if @user.subjects.pluck(:subject).include?(sub.subject) %>
          <li><input type="checkbox" name="subs[]" value="<%= sub.subject %>" checked/>
        <% else %>
          <li><input type="checkbox" name="subs[]" value="<%= sub.subject %>" />
        <% end %>
        <label><%= sub.subject %></label></li>
      <% end %>
    </ul>
  </div>
  <div class="field2">
    <input type="checkbox" name="subs[]" value=""/>
    <label>Other (if multiple, separate with a comma)</label>
    <input type="text" name="add-subs" value="" /><br>
  </div>
  <br>

  <div class="field">
    <em class="label-bold">
    <%= f.label(:name, "Are you licensed to teach in Illinois? *") %></em><br>
    <div class="field-radio">
      <%= f.radio_button(:il_licensed, "Yes") %>
      <%= f.label(:name, "Yes") %><br>
    </div>
    <div class="field-radio">
      <%= f.radio_button(:il_licensed, "No") %>
      <%= f.label(:name, "No") %><br>
    </div>
    <div class="field-radio">
      <%= f.radio_button(:il_licensed, "Other") %>
      <%= f.label(:name, "I am licensed in another state.")%>
      <%= link_to "Click here for Illinois license information", "/uploads/licCheatSheet.pdf" %>
    </div>
  </div>
  <br>

  <div class="field">
    <label><em class="label-bold">What type of license do you hold? (Check all that apply) *</em></label><br>
    <% License.all.each do |lic| %>
      <div class="field-radio">
        <% if @user.licenses.pluck(:name).include?(lic.name) %>
          <input type="checkbox" name="licenses[]" value="<%= lic.name %>" checked/>
        <% else %>
          <input type="checkbox" name="licenses[]" value="<%= lic.name %>" />
        <% end %>
        <label><%= lic.name %></label><br>
      </div>
    <% end %>
    <div class="field-radio">
      <input type="checkbox" name="licenses[]" value=""/>
      <label>Other (if multiple, separate with a comma)</label>
      <input type="text" name="add-licenses" value="" />
    </div>
  </div><br>

  <div class="field field-flex">
    <em class="teacher-label2"><%= f.label :degree %></em>
    <%= f.select :degree, options_for_select(degrees),{}, class: 'form-control' %>
  </div><br>

  <div class="field">
    <em class="label-bold"><%= f.label :major, :class => "teacher-label2" %></em>
    <%= f.text_field :major %>
  </div><br>
  <div class="field">
    <em class="label-bold"><%= f.label :masters_concentration, :class => "teacher-label2" %></em>
    <%= f.text_field :masters_concentration %>
  </div><br>

  <div class="field">
    <label><em class="label-bold">Endorsements completed (Check all that apply) *</em></label><br>
    <ul class="checkbox-grid2">
    <% Endorsement.all.order(:name).each do |endo| %>
      <% if @user.endorsements.pluck(:name).include?(endo.name) %>
        <li><input type="checkbox" name="endorses[]" value="<%= endo.name %>" checked/>
      <% else %>
        <li><input type="checkbox" name="endorses[]" value="<%= endo.name %>" />
      <% end %>
    <label><%= endo.name %></label><br></li>
    <% end %>
    </ul>
  </div>
  <div class="field2">
    <input type="checkbox" name="endorses[]" value=""/>
    <label>Other (if multiple, separate with a comma)</label>
    <input type="text" name="add-endorses" value="" />
  </div><br>

  <div class="field field-flex">
    <em class="teacher-label3"><%= f.label(:name, "Years of Teaching/School Administration Experience *") %></em>
    <%= f.select :years, options_for_select(exp_years, @user.years),{}, class: 'form-control form-control-tiny' %>
  </div><br>

  <div class="field field-flex">
    <em class="teacher-label3"><%= f.label(:name, "Preferred Grade Level") %></em>
    <%= f.select :grade_pref, options_for_select(grades, @user.grade_pref),{}, class: 'form-control form-control-small' %>
  </div><br>

  <div class="field">
    <em class="label-bold">
    <%= f.label(:name, "Do you have previous experience in a charter?") %></em><br>
    <div class="field-radio">
      <%= f.radio_button(:previous, true) %>
      <%= f.label(:name, "Yes") %><br>
    </div>
    <div class="field-radio">
      <%= f.radio_button(:previous, false) %>
      <%= f.label(:name, "No") %><br>
    </div>
  </div><br>


  <div class="field field5">
    <em class="label-bold"><%= f.label(:location_pref, "Where are you willing to teach?") %></em><br>
    <div class="field-radio">
      <%= f.radio_button(:location_pref, "Chicago") %>
      <%= f.label(:name, "Chicago") %><br>
    </div>
    <div class="field-radio">
      <%= f.radio_button(:location_pref, "Non-Chicago, Greater Illinois") %>
      <%= f.label(:name, "Non-Chicago, Greater Illinois") %><br>
    </div>
    <div class="field-radio">
      <%= f.radio_button(:location_pref, "Chicago or Greater Illinois") %>
      <%= f.label(:name, "Both") %><br>
    </div>
  </div><br>

  <div class="field">
    <label><em class="label-bold">Membership or Alumni Organization (Check all that apply)</em></label><br>
    <ul class="checkbox-grid2">
    <% Organization.all.order(:name).each do |org| %>
      <% if @user.organizations.pluck(:name).include?(org.name) %>
        <li><input type="checkbox" name="orgs[]" value="<%= org.name %>" checked/>
      <% else %>
        <li><input type="checkbox" name="orgs[]" value="<%= org.name %>" />
      <% end %>
    <label><%= org.name %></label><br></li>
    <% end %>
    </ul>
    </div>
    <div class="field2">
      <input type="checkbox" name="orgs[]" value=""/>
      <label>Other (if multiple, separate with a comma)</label>
      <input type="text" name="add-orgs" value="" />
    </div><br>

  <div class="field field8">
    <em class="label-bold"><%= f.label(:name, "Additional information") %></em><br>
    <%= f.text_area :additional, cols: "100", rows: "10" %>
  </div><br>

  <% if @user.id == nil %>
    <div class="actions">
      <%= f.submit 'Register', :name => 'submit', :class => "btn btn-info" %>
    </div>
  <% else %>
    <div class="actions">
      <%= f.submit 'Update Information', :name => 'submit', :class => "btn btn-info" %>
      <a href="/users/<%=@user.id%>">
        <button class="btn btn-danger">Cancel</button>
      </a>
    </div>
  <% end %>
   <br>
    <br>
<% end %>
