<td><%= link_to "View uploaded resume", @resume.attachment_url %></td><br><br><br>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :access, value: "teacher" %>
  <input type="hidden" name="resume_id" value="<%= @resume.id %>" />
  <div class="field">
    <%= f.label :prefix %>
    <%= f.text_field :prefix %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div><br>

  <div class="field">
    <em>
    <%= f.label(:name, "Please select the option that best fits you *") %></em><br>
    <%= f.radio_button(:register, "bank") %>
    <%= f.label(:name, "I would like to add my resume to the online resume bank only.") %><br>
    <%= f.radio_button(:register, "both") %>
    <%= f.label(:name, "I would like to add my resume to the online resume bank AND would like for this to serve as my registration for the ") %><%= link_to " 2016 Teacher Job Fair on March 5th, 2016.", "https://www.incschools.org/events/teacher-job-fair/" %><br>
    <%= f.radio_button(:register, "jobfaironly") %>
    <%= f.label(:name, "I would only like to register for the 2016 Teacher Job Fair and would NOT like my resume to be added to the online resume bank for charter school leaders to see. Note: your resume is required in order to register you for the fair, but we will not include it in our online database if you select this option.") %>
  </div>
  <br>

  <div class="field">
    <%= f.label :email, :class => "teacher-label" %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :password, :class => "teacher-label" %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :phone_number, :class => "teacher-label" %>
    <%= f.phone_field :phone_number %>
  </div>

  <div class="field">
    <%= f.label(:name, "Address Line 1", :class => "teacher-label") %>
    <%= f.text_field :street %>
  </div>

  <div class="field">
    <%= f.label(:name, "Address Line 2", :class => "teacher-label") %>
    <%= f.text_field :street_second %>
  </div>

  <div class="field">
    <%= f.label :city, :class => "teacher-label" %>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :zip, :class => "teacher-label" %>
    <%= f.text_field :zip %>
  </div>

  <div class="field">
    <%= f.label :state, :class => "teacher-label" %>
    <%= f.select :state, options_for_select(us_states),{}, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :country, :class => "teacher-label" %>
    <%= f.select :country, options_for_select(countries),{}, class: 'form-control' %>
  </div><br><br>

  <div class="field">
    <label><em>What type of position are you looking for? (Check all that apply) *</em></label><br>
    <% Position.all.each do |pos| %>
    <input type="checkbox" name="positions[]" value="<%= pos.title %>" />
    <label><%= pos.title %></label><br>
    <% end %>
  </div><br>

  <div class="field">
    <em>
    <%= f.label(:name, "Are you Licensed to Teach in Illinois? *") %></em><br>
    <%= f.radio_button(:il_licensed, "Yes") %>
    <%= f.label(:name, "Yes") %><br>
    <%= f.radio_button(:il_licensed, "No") %>
    <%= f.label(:name, "No") %><br>
    <%= f.radio_button(:il_licensed, "Other") %>
    <%= f.label(:name, "I am licensed in another state.")%>
    <%= link_to "Click here for Illinois license information", "/uploads/licCheatSheet.pdf" %>
  </div>
  <br>

  <div class="field">
    <label><em>Type of License Held *</em></label><br>
    <% License.all.each do |lic| %>
    <input type="checkbox" name="licenses[]" value="<%= lic.name %>" />
    <label><%= lic.name %></label><br>
    <% end %>
  </div><br>

  <div class="field">
    <%= f.label :degree %>
    <%= f.select :degree, options_for_select(degrees),{}, class: 'form-control' %>
  </div><br>

  <div class="field">
    <%= f.label :major, :class => "teacher-label2" %>
    <%= f.text_field :major %>
  </div>
  <div class="field">
    <%= f.label :masters_concentration, :class => "teacher-label2" %>
    <%= f.text_field :masters_concentration %>
  </div><br>

  <div class="field">
    <label><em>Endorsements Completed (Check all that apply) *</em></label><br>
    <% Endorsement.all.each do |endo| %>
    <input type="checkbox" name="endorses[]" value="<%= endo.name %>" />
    <label><%= endo.name %></label><br>
    <% end %>
  </div><br>

  <div class="field">
    <%= f.label(:name, "Years of Teaching/School Administration Experience *") %>
    <%= f.select :years, options_for_select(exp_years),{}, class: 'form-control' %>
  </div><br>

  <div class="field">
    <%= f.label(:name, "Preferred Grade Level") %>
    <%= f.select :grade_pref, options_for_select(grades),{}, class: 'form-control' %>
  </div><br>

  <div class="field">
    <em>
    <%= f.label(:name, "Do you have previous experience in a charter?") %></em><br>
    <%= f.radio_button(:previous, true) %>
    <%= f.label(:name, "Yes") %><br>
    <%= f.radio_button(:previous, false) %>
    <%= f.label(:name, "No") %><br>
  </div><br>

  <div class="field">
    <label><em>Preferred Subject(s) *</em></label><br>
    <ul class="checkbox-grid">
      <li><input type="checkbox" name="subs[]" value="None" />
      <label>None</label></li>
      <% Subject.all.order(:subject).each do |sub| %>
        <li><input type="checkbox" name="subs[]" value="<%= sub.subject %>" />
        <label><%= sub.subject %></label></li>
      <% end %>
    </ul>
  </div>
  <label></label>

  <div class="field">
    <br>
    <%= f.label(:relocation, "Are you open to relocation?") %><br>
    <%= f.radio_button(:previous, true) %>
    <%= f.label(:relocation, "Yes") %><br>
    <%= f.radio_button(:previous, false) %>
    <%= f.label(:relocation, "No") %><br>
  </div><br>

  <div class="field">
    <label><em>Membership or Alumni Organization (Check all that apply)</em></label><br>
    <% Organization.all.each do |org| %>
    <input type="checkbox" name="orgs[]" value="<%= org.name %>" />
    <label><%= org.name %></label><br>
    <% end %>
  </div><br>

  <div class="field">
    <%= f.label(:name, "Additional information") %><br>
    <%= f.text_area :additional, cols: "100", rows: "10" %>
  </div><br>

  <div class="actions">
    <%= f.submit 'Register', :name => 'register', :class => "btn btn-info" %>
  </div>
   <br>
    <br>
<% end %>