<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= "Error".pluralize(@user.errors.count)%>:</h2>
      <h4>Please contact <a href="mailto:alevybrown@incschools.org?subject=Resume Bank Question">alevybrown@incschools.org</a> if you are having trouble completing the form.</h4>

      <ul>
      <% @user.errors.messages.each do |message| %>
          <li><%= message[1][0] %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Update your info below and click submit</h3><br>

  <div class="field">
    <label><em class="label-bold">2019 INCS Teacher & Administrator Job Fair Registration Status *</em></label><br>
    <div class="field-radio">
      <%= f.radio_button(:register2019, "both") %>
      <%= f.label(:name, "Register for the 2019 INCS Teacher & Administrator Job Fair.", class: 'flex-one') %><br>
    </div>
    <div class="field-radio">
      <%= f.radio_button(:register2019, "bank") %>
      <%= f.label(:name, "Unregister from the 2019 INCS Teacher & Administrator Job Fair.", class: 'flex-one') %><br>
    </div>
  </div>

  <%= f.hidden_field :access, value: "teacher" %>
  <% if @resume != nil %><input type="hidden" name="resume_id" value="<%= @resume.id %>" /><% end %>
  <div class="field field-flex">
    <em class="teacher-label"><%= f.label :prefix %></em>
    <%= f.select :prefix, options_for_select(prefixes, @user.prefix),{}, class: 'form-control' %>
  </div>
  <div class="field field-flex">
    <em class="teacher-label"><%= f.label(:name, "First name *") %></em>
    <%= f.text_field :first_name %><br>
  </div>
  <div class="field field-flex">
    <em class="teacher-label"><%= f.label(:name, "Last name *") %></em>
    <%= f.text_field :last_name %>
  </div>

  <div class="field field-flex">
    <em class="teacher-label"><%= f.label(:name, "Enter a resume bank login email *") %></em>
    <%= f.text_field :email, class: 'med-field' %>
  </div>

  <div class="field field-flex">
    <em class="teacher-label"><%= f.label(:name, "Please confirm your email address *") %></em>
    <%= f.text_field :email_confirmation, class: 'med-field' %>
  </div>

  <div class="field field-flex">
    <em class="teacher-label"><%= f.label(:name, "Enter a resume bank password *") %></em>
    <%= f.password_field :password %>
  </div>

  <div class="field field-flex">
    <em class="teacher-label"><%= f.label(:name, "Please confirm your password *") %></em>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field field-flex">
    <em class="teacher-label"><%= f.label :phone_number %></em>
    <%= f.phone_field :phone_number %>
  </div>

  <div class="field field-flex">
    <em class="teacher-label"><%= f.label(:name, "Address Line 1") %></em>
    <%= f.text_field :street, class: 'long-field' %>
  </div>

  <div class="field field-flex">
    <em class="teacher-label"><%= f.label(:name, "Address Line 2") %></em>
    <%= f.text_field :street_second, class: 'long-field' %>
  </div>

  <div class="field field-flex">
    <em class="teacher-label"><%= f.label :city %></em>
    <%= f.text_field :city %>
  </div>

  <div class="field field-flex">
    <em class="teacher-label"><%= f.label(:name, "Zip Code") %></em>
    <%= f.text_field :zip, class: 'tiny-field' %>
  </div>

  <div class="field field-flex">
    <em class="select-label"><%= f.label :state %></em>
    <%= f.select :state, options_for_select(us_states,@user.state),{}, class: 'form-control' %>
  </div>

  <div class="field field-flex">
    <em class="select-label"><%= f.label :country %></em>
    <%= f.select :country, options_for_select(countries,@user.country),{}, class: 'form-control' %>
  </div><br><br>

  <div class="field">
    <label><em class="label-bold">How did you hear about the INCS Teacher & Administrator Job Fair and/or INCS Resume Bank? (Check all that apply) *</em></label><br>
    <ul class="checkbox-grid2">
      <% resume_bank_references.each do |source| %>
        <% if @user.sources.map{|source| source.source_name}.include?(source) %>
          <li><input type="checkbox" name="sources[]" value="<%= source %>" checked/>
        <% else %>
          <li><input type="checkbox" name="sources[]" value="<%= source %>" />
        <% end %>
        <label><%= source %></label></li>
      <% end %>
    </ul>
  </div>
  <div class="field2">
    <input type="checkbox" name="sources[]" value=""/>
    <label>Flyer (Please specify where you saw/received it.)</label>
    <input type="text" name="add-flyer" value="" /><br>
  </div>
  <div class="field2">
    <input type="checkbox" name="sources[]" value=""/>
    <label>College/university jobs board, newsletter, or staff. (Please specify which one.)</label>
    <input type="text" name="add-college" value="" /><br>
  </div>
  <div class="field2">
    <input type="checkbox" name="sources[]" value=""/>
    <label>Other (Please specify so that we may thank our partners.)</label>
    <input type="text" name="add-sources" value="" /><br>
  </div>
  <br>

  <div class="field field-flex">
    <em class="teacher-label2"><%= f.label(:name, "Highest Degree Earned") %></em>
    <%= f.select :degree, options_for_select(degrees),{}, class: 'form-control' %>
  </div><br>

  <div class="field">
    <em class="label-bold"><%= f.label :major, :class => "teacher-label2" %></em>
    <%= f.text_field :major %>
  </div><br>

  <div class="field">
    <em class="label-bold teacher-label2"><%= f.label(:name, "Graduate Degree Concentration") %></em>
    <%= f.text_field :masters_concentration %>
  </div><br>

  <div class="field">
    <em class="label-bold">
    <%= f.label(:name, "Do you hold an educator's license in Illinois? *") %></em><br>
    <div class="field-radio">
      <%= f.radio_button(:il_licensed, "Yes") %>
      <%= f.label(:name, "Yes") %><br>
    </div>
    <div class="field-radio">
      <%= f.radio_button(:il_licensed, "No") %>
      <%= f.label(:name, "No") %><br>
    </div>
    <div class="field-radio">
      <%= f.radio_button(:il_licensed, "Other") %>
      <%= f.label(:name, "I am licensed in another state.")%>
      <%# <%= link_to "Click here for Illinois license information", "/uploads/licCheatSheet.pdf" %1> %>
    </div>
    <div class="field-radio">
      <%= f.radio_button(:il_licensed, "Educator Prep Program") %>
      <%= f.label(:name, "I am enrolled in an educator preparation program.") %><br>
    </div>
  </div>
  <br>

  <div class="field">
    <label><em class="label-bold">What type of license do you hold or anticipate receiving by summer 2019? (Check all that apply) *</em></label><br>
    <% license_choices.each do |lic| %>
      <% if lic[:title] %>
        <div class="field-label">
          <%= lic[:title] %>
        </div>
      <% end %>
      <% lic[:values].each do |value| %>
        <% if lic[:title] %>
          <div class="field-radio-indent">
            <% if @user.licenses.map{|lic| lic.name}.include?(value) %>
              <input type="checkbox" name="licenses[]" value="<%= value %>" checked/>
            <% else %>
              <input type="checkbox" name="licenses[]" value="<%= value %>" />
            <% end %>
            <label><%= value %></label><br>
          </div>
        <% else %>
          <div class="field-radio">
            <% if @user.licenses.map{|lic| lic.name}.include?(value) %>
              <input type="checkbox" name="licenses[]" value="<%= value %>" checked/>
            <% else %>
              <input type="checkbox" name="licenses[]" value="<%= value %>" />
            <% end %>
            <label><%= value %></label><br>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <div class="field-radio-indent">
      <input type="checkbox" name="licenses[]" value=""/>
      <label>Other (if multiple, separate with a comma)</label>
      <input type="text" name="add-licenses" value="" />
    </div>
  </div><br>

  <div class="field">
    <label><em class="label-bold">Endorsements completed (Check all that apply) *</em></label><br>
    <% endorsement_choices.each do |endo| %>
      <% if endo[:title] %>
        <div class="field-label">
          <%= endo[:title] %>
        </div>
      <% end %>
      <% endo[:values].each do |value| %>
        <% if endo[:title] %>
          <div class="field-radio-indent">
            <% if @user.endorsements.map{|endo| endo.name}.include?(value) %>
              <input type="checkbox" name="endorses[]" value="<%= value %>" checked/>
            <% else %>
              <input type="checkbox" name="endorses[]" value="<%= value %>" />
            <% end %>
            <label><%= value %></label><br>
          </div>
        <% else %>
          <div class="field-radio">
            <% if @user.endorsements.map{|endo| endo.name}.include?(value) %>
              <input type="checkbox" name="endorses[]" value="<%= value %>" checked/>
            <% else %>
              <input type="checkbox" name="endorses[]" value="<%= value %>" />
            <% end %>
            <label><%= value %></label><br>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="field-radio-indent-other">
    <input type="checkbox" name="endorses[]" value=""/>
    <label>Other (if multiple, separate with a comma)</label>
    <input type="text" name="add-endorses" value="" />
  </div><br>

  <div class="field field-flex">
    <em class="teacher-label3"><%= f.label(:name, "Years of Teaching/School Administration Experience *") %></em>
    <%= f.select :years, options_for_select(exp_years, @user.years),{}, class: 'form-control form-control-tiny' %>
  </div><br>

  <div class="field field5">
    <em class="label-bold"><%= f.label(:grade_pref, "Preferred Grade Level (Check all that apply) *") %></em><br>
    <ul class="checkbox-grid2">
      <% grades.each do |grade| %>
        <% if @user.grade_pref.include?(grade) %>
          <li><input type="checkbox" name="grade_pref[]" value="<%= grade %>" checked/>
        <% else %>
          <li><input type="checkbox" name="grade_pref[]" value="<%= grade %>" />
        <% end %>
        <label><%= grade %></label></li>
      <% end %>
    </ul>
  </div><br>

  <div class="field field5">
    <em class="label-bold"><%= f.label(:location_pref, "Where are you willing to work? (Check all that apply) *") %></em><br>
    <ul class="checkbox-grid2">
      <% locations.each do |loc| %>
        <% if @user.location_pref.include?(loc) %>
          <li><input type="checkbox" name="location_pref[]" value="<%= loc %>" checked/>
        <% else %>
          <li><input type="checkbox" name="location_pref[]" value="<%= loc %>" />
        <% end %>
        <label><%= loc %></label></li>
      <% end %>
    </ul>
  </div><br>

  <div class="field">
    <em class="label-bold">
    <%= f.label(:name, "Do you have previous experience in a charter? *") %></em><br>
    <div class="field-radio">
      <%= f.radio_button(:previous, true) %>
      <%= f.label(:name, "Yes") %><br>
    </div>
    <div class="field-radio">
      <%= f.radio_button(:previous, false) %>
      <%= f.label(:name, "No") %><br>
    </div>
  </div><br>

  <div class="field">
    <label><em class="label-bold">Which field(s) does your desired position fall under? (Check all that apply) *</em></label><br>
    <ul class="checkbox-grid2">
    <% position_options.each do |pos| %>
      <% if @user.positions.map{|pos| pos.title}.include?(pos) %>
        <li class="field-flex"><input type="checkbox" name="positions[]" value="<%= pos %>" checked/>
      <% else %>
        <li class="field-flex"><input type="checkbox" name="positions[]" value="<%= pos %>" />
      <% end %>
    <label class="flex-one no-margin"><%= pos %></label></li>
    <% end %>
    </ul>
  </div>
  <div class="field2">
    <input type="checkbox" name="positions[]" value=""/>
    <label>Other (if multiple, separate with a comma)</label>
    <input type="text" name="add-positions" value="" />
  </div>
  <br>

  <div class="field">
    <label><em class="label-bold">Preferred Subject(s) For Teaching/Instructional Coach Candidate (Check all that apply)</em></label><br>
    <ul class="checkbox-grid">
      <% selectable_subjects.each do |sub| %>
        <% if @user.subjects.map{|sub| sub.subject}.include?(sub) %>
          <li><input type="checkbox" name="subs[]" value="<%= sub %>" checked/>
        <% else %>
          <li><input type="checkbox" name="subs[]" value="<%= sub %>" />
        <% end %>
        <label><%= sub %></label></li>
      <% end %>
    </ul>
  </div>
  <div class="field2">
    <input type="checkbox" name="subs[]" value=""/>
    <label>Foreign Language (Please specify language.)</label>
    <input type="text" name="add-language" value="" /><br>
  </div>
  <div class="field2">
    <input type="checkbox" name="subs[]" value=""/>
    <label>Other (if multiple, separate with a comma)</label>
    <input type="text" name="add-subs" value="" /><br>
  </div>
  <br>

  <div class="field field8">
    <em class="label-bold"><%= f.label(:name, "Additional information") %></em><br>
    <%= f.label(:name, "(Optional.) Please briefly provide additional relevant information, if desired. Do not include Cover Letter here. (You may upload a Cover Letter on the next page, if desired.)") %><br>
    <%= f.text_area :additional, cols: "100", rows: "10" %>
  </div><br>

  <% if @user.id == nil %>
    <div class="actions">
      <%= f.submit 'Next', :name => 'submit', :class => "btn btn-info" %>
    </div>
  <% else %>
    <div class="actions">
      <%= f.submit 'Update Information', :name => 'submit', :class => "btn btn-info" %>
      <a href="/users/<%=@user.id%>">
        <button class="btn btn-danger">Cancel</button>
      </a>
    </div>
  <% end %>
   <br>
    <br>
<% end %>
