<h3>Results:</h3>
<%= page_entries_info(@users, :model => "Candidate")%>

<% @users.each do |user| %>
<div class="result">
  <label>Name:</label> <%= user.prefix == 'N/A' ? '' : user.prefix %> <%= user.first_name %> <%= user.last_name %><br>
  <label>Years of Experience: </label> <%= user.years %><br>
  <label>Licenses Held:</label> <%= user.licenses.map do |lic| lic.name end.to_sentence %><br>
  <label>Endorsements:</label> <%= user.endorsements.map do |endo| endo.name end.to_sentence %><br>
  <label>Registered for 2019 Job Fair:</label> <% if user.register2019 == "both" || user.register2019 == "jobfaironly" %>Yes<% else %>No<%end%><br>
  <label>Location Preference:</label> <%= user.location_pref ? user.location_pref.to_sentence : '' %><br>
  <label><a href="/users/<%= user.id %>">Profile</a></label><br>
</div>
<% end %>

<% if User.find(session[:user_id]).access == "admin" || User.find(session[:user_id]).access == "school"%>
  <label>Download CSV of results (can take up to 30 seconds to complete)</label><br>
  <%= link_to 'Generate CSV', users_search_csv_path(params.merge(format: 'csv')), class: "btn btn-info export", download: true %>
  <br>
<% end %>

<%= will_paginate @users %>
