<h2>Registered schools:</h2>
<h3><%= @users.count %> Results</h3>

<% @users.each do |user| %>
<div class="result">
  <label>Name:</label> <%= user.first_name %> <%= user.last_name %><br>
  <label>School: </label> <%= user.school %><br>
  <label>Email:</label> <%= user.email %><br>
  <%= button_to "Delete", user, method: :delete, class: "btn btn-danger" %>
</div>
<% end %>

<% if User.find(session[:user_id]).access == "admin" || User.find(session[:user_id]).access == "school"%>
  <a href=<%="/users/schools.csv"%>><button class="btn btn-info" id="gen-csv">Generate CSV</button></a>
<% end %>
