<h1>Search for job seekers below! </h1>
<h3>To review all job seekers in the INCS Resume Bank, please leave your selection criteria blank and select “search” below.</h3>

<%= form_tag('/users/search', :method => 'get') do %>
  <div class="field">
    <label class="label-bold"><em>Which field(s) does your desired position fall under? (Check all that apply)</em></label><br>
    <ul class="checkbox-grid2">
    <% position_options.each do |pos| %>
        <li class="field-flex"><input type="checkbox" name="positions[]" value="<%= pos %>" />
    <label class="flex-one"><%= pos %></label></li>
    <% end %>
    </ul>
  </div>

  <div class="field7">
    <em><%= label_tag(:name, "Minimum years of teaching or school administration experience") %></em>
    <%= select_tag :years, options_for_select(exp_years_search), class: 'form-control' %>
  </div><br>

  <div class="field7">
    <em><%= label_tag(:name, "Only show job seekers with previous charter experience?") %></em><br>
    <%= radio_button_tag(:previous, "Yes") %>
    <%= label_tag(:name, "Yes") %><br>
    <%= radio_button_tag(:previous, "No") %>
    <%= label_tag(:name, "No") %>
  </div><br>

  <div class="field7">
    <em><%= label_tag(:name, "What grade level are you hiring for?") %></em>
    <ul class="checkbox-grid2">
    <% grades.each do |grade| %>
        <li class="field-flex"><input type="checkbox" name="grade_pref[]" value="<%= grade %>" />
    <label class="flex-one"><%= grade %></label></li>
    <% end %>
    </ul>
  </div><br>

  <div class="field7">
    <em><%= label_tag(:name, "Only show job seekers registered for the 2019 INCS Job Fair?")%></em><br>
    <%= radio_button_tag(:registered, "Yes") %>
    <%= label_tag(:name, "Yes") %><br>
    <%= radio_button_tag(:registered, "No") %>
    <%= label_tag(:name, "No") %>
  </div><br>

  <div class="field7">
    <em><%= label_tag(:location_pref, "Filter job seekers by their location preference. (Check all that apply)") %></em><br>
    <ul class="checkbox-grid2">
    <% locations.each do |loc| %>
        <li class="field-flex"><input type="checkbox" name="location_pref[]" value="<%= loc %>" />
    <label class="flex-one"><%= loc %></label></li>
    <% end %>
    </ul>
  </div><br>

  <div class="field7">
    <em><%= label_tag(:name, "What subjects are you interested in hiring for? (Check all that apply)") %></em><br>
    <ul class="checkbox-grid">
      <% selectable_subjects.each do |subj| %>
        <li class="field-flex"><input type="checkbox" name="subjects[]" value="<%= subj %>" />
        <label style="margin: 0" class="flex-one"><%= subj %></label></li>
      <% end %>
    </ul><br>
  </div>

  <div class="field7">
    <label class="label-bold"><em>What endorsement(s) must the job seeker possess? (Check all that apply)</em></label><br>
    <% endorsement_choices[0...-1].each do |endo| %>
      <% if endo[:title] %>
        <div class="field-label">
          <%= endo[:title] %>
        </div>
      <% end %>
      <% endo[:values].each do |value| %>
        <% if endo[:title] %>
          <div class="field-radio-indent">
            <input type="checkbox" name="endorses[]" value="<%= value %>" u>
            <label><%= value %></label><br>
          </div>
        <% else %>
          <div class="field-radio">
            <input type="checkbox" name="endorses[]" value="<%= value %>" />
            <label><%= value %></label><br>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="field7">
    <label class="label-bold"><em>What license(s) must the job seeker possess? (Check all that apply)</em></label><br>
    <% search_license_choices.each do |lic| %>
      <% if lic[:title] %>
        <div class="field-label">
          <%= lic[:title] %>
        </div>
      <% end %>
      <% lic[:values].each do |value| %>
        <% if lic[:title] %>
          <div class="field-radio-indent">
            <input type="checkbox" name="licenses[]" value="<%= value %>" u>
            <label><%= value %></label><br>
          </div>
        <% else %>
          <div class="field-radio">
            <input type="checkbox" name="licenses[]" value="<%= value %>" />
            <label><%= value %></label><br>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <label></label>
<br><%= submit_tag 'Search', class: "btn btn-info btn-search" %><br><br>
<% end %>
