<% if !flash[:notice].blank? %>
  <div class="alert alert-info">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if @current_user.access == "teacher" %>
<br />
<%= link_to "Upload additional documents", new_resume_path, class: "btn btn-primary" %><br><br>
<label>Note: Your resume will be available only to charter school leaders who express a recruitment need and will not be available to the general public. Your resume will be deactivated after 30 days. To re-activate, simply log in and select the activate button below</label>
<br />
<br />
<% end %>

<table class="table table-bordered table-condensed table-hover table-responsive">
  <thead>
    <tr>
      <th>Document</th>
      <th>Download Link</th>
      <% if @current_user.access == "teacher" %>
      <th>Active</th>
      <% end %>

    </tr>
  </thead>
  <tbody>
    <% @resumes.each do |resume| %>
      <% if resume.active == false && @current_user.access == "school" %>
      <% else %>
      <tr>
         <td class="res-row"><%= resume.name %></td>
         <td class="res-row"><%= link_to "View or Download", resume.attachment_url %></td>
         <% if @current_user.access != "teacher"%>
         <% elsif resume.active == true %>
            <td class="res-row"> Yes </td>
         <% else %>
            <td class="res-row"> No </td>
         <% end %>
         <% if @current_user.access == "teacher" %>
          <td class="res-cell">
          <% if resume.active == false %>
           <%= button_to "Activate", resume, method: :put, class: "btn btn-info btn-activate" %>
          <% else %>
            <%= button_to "Deactivate", resume, method: :put, class: "btn btn-info btn-deactivate"%>
          <% end %>
           </td>
           <td class="res-cell"><%= button_to "Delete", resume, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you want to delete #{resume.name}?" %>
          </td>
         <% end %>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
  <h3>Job Seeker Details</h3>
<label>Name:</label> <%= @user.prefix%>. <%= @user.first_name%> <%=@user.last_name%><br>
<label>Email:</label> <%= @user.email%><br>
<label>Registered for Job Fair:</label> <% if @user.register != "bank" %>Yes<% else %>No<%end%><br>
<label>Phone:</label> <%= @user.phone_number %><br>
<label>City of Residence:</label> <%= @user.city %><br>
<label>Licensed in Illinois:</label> <%= @user.il_licensed %><br>
<label>Licenses:</label> <%= @user.licenses.map{|lic| lic.name }.join(", ") %><br>
<label>Positions Desired:</label> <%= @user.positions.map{|pos| pos.title }.join(", ") %><br>
<label>Grade Preference:</label> <%= @user.grade_pref %><br>
<label>Preferred Subjects:</label> <%= @user.subjects.map{|subj| subj.subject}.join(", ")%><br>
<label>Highest Degree:</label> <%= @user.degree %><br>
<label>College Major:</label> <%= @user.major %><br>
<label>Years of Experience:</label> <%= @user.years %><br>
<label>Willing to Relocate:</label> <% if @user.relocation %>Yes<%else%>No<%end%><br>
<label>Previous Organizations:</label> <%= @user.organizations.map{|org| org.name }.join(", ") %><br>
<label>Additional Information:</label> <div class="additional-info"><p><%= @user.additional %></p></div><br>

<%= button_to "Edit Information", edit_user_path, :class => "btn", :method => :get %><br>

