<h1>Search for resumes below!</h1>

<%= form_tag('/users/search') do %>
  <div class="field">
    <label><em>What type of position are you looking to hire for? (Check all that apply)</em></label><br>
    <% Position.all.each do |pos| %>
      <input type="checkbox" name="positions[]" value="<%= pos.title %>" />
      <label><%= pos.title %></label><br>
    <% end %>
  </div><br>

  <div class="field">
    <em><%= label_tag(:name, "Minimum years of teaching or school administration experience") %></em>
    <%= select_tag :years, options_for_select(exp_years_search), class: 'form-control' %>
  </div><br>

  <div class="field">
    <em><%= label_tag(:name, "What grade level are you hiring for?") %></em>
    <%= select_tag :grade_pref, options_for_select(grades), class: 'form-control' %>
  </div><br>

  <div class="field">
    <em><%= label_tag(:name, "What subjects are you interested in hiring for? (Check all that apply)") %></em><br>
    <ul class="checkbox-grid">
      <% Subject.all.order(:subject).each do |subj| %>
        <li><input type="checkbox" name="subjects[]" value="<%= subj.subject %>" />
        <label><%= subj.subject %></label></li>
      <% end %>
    </ul><br>
  </div>
  <label></label>
<br><%= submit_tag 'Search', class: "btn btn-info btn-search" %><br><br>
<% end %>