<h1>Search for resumes below! </h1>
<h3>To review all candidates in the INCS Resume Bank, please leave your selection criteria blank and select “search” below.</h3>

<%= form_tag('/users/search', :method => 'get') do %>
  <div class="field">
    <label class="label-bold"><em>Which field(s) does your desired position fall under? (Check all that apply) *</em></label><br>
    <ul class="checkbox-grid2">
    <% position_options.each do |pos| %>
        <li class="field-flex"><input type="checkbox" name="positions[]" value="<%= pos %>" />
    <label class="flex-one"><%= pos %></label></li>
    <% end %>
    </ul>
  </div>

  <div class="field7">
    <em><%= label_tag(:name, "Minimum years of teaching or school administration experience") %></em>
    <%= select_tag :years, options_for_select(exp_years_search), class: 'form-control' %>
  </div><br>

  <div class="field7">
    <em><%= label_tag(:name, "What grade level are you hiring for?") %></em>
    <%= select_tag :grade_pref, options_for_select(grades_search), class: 'form-control' %>
  </div><br>

  <div class="field7">
    <em><%= label_tag(:name, "Only show candidates registered for the 2018 INCS Job Fair?")%></em><br>
    <%= radio_button_tag(:registered, "Yes") %>
    <%= label_tag(:name, "Yes") %><br>
    <%= radio_button_tag(:registered, "No") %>
    <%= label_tag(:name, "No") %>
  </div><br>

  <div class="field7">
    <em><%= label_tag(:location_pref, "Filter candidates by their location preference by choosing an option below") %></em><br>
    <%= radio_button_tag(:location_pref, "Chicago") %>
    <%= label_tag(:name, "Open to positions in Chicago only") %><br>
    <%= radio_button_tag(:location_pref, "Non-Chicago, Greater Illinois") %>
    <%= label_tag(:name, "Open to non-Chicago, Greater Illinois positions") %><br>
    <%= radio_button_tag(:location_pref, "Chicago or Greater Illinois") %>
    <%= label_tag(:name, "Open to both options") %><br>
  </div><br>

  <div class="field7">
    <em><%= label_tag(:name, "What subjects are you interested in hiring for? (Check all that apply)") %></em><br>
    <ul class="checkbox-grid">
      <% Subject.all.order(:subject).each do |subj| %>
        <li class="field-flex"><input type="checkbox" name="subjects[]" value="<%= subj.subject %>" />
        <label style="margin: 0" class="flex-one"><%= subj.subject %></label></li>
      <% end %>
    </ul><br>
  </div>

  <label></label>
<br><%= submit_tag 'Search', class: "btn btn-info btn-search" %><br><br>
<% end %>
