<% if !flash[:notice].blank? %>
  <div class="alert alert-info">
    <%= flash[:notice] %>
  </div>
<% end %>


<table class="table table-bordered table-condensed table-hover table-responsive">
  <thead>
    <tr>
      <th>Document</th>
      <th>Download Link</th>
      <% if @current_user.access == "teacher" %>
        <th>Active</th>
      <% end %>

    </tr>
  </thead>
  <tbody>
    <% if @resumes.length > 0 %>
      <% @resumes.each do |resume| %>
        <% if resume.active == false && @current_user.access == "school" %>
        <% else %>
          <tr>
            <td class="res-row"><%= resume.name %></td>
            <td class="res-row"><%= link_to "Download", resume.attachment.url %></td>
            <% if @current_user.access != "teacher"%>
            <% elsif resume.active == true %>
              <td class="res-row"> Yes </td>
            <% else %>
              <td class="res-row"> No </td>
            <% end %>
            <% if @current_user.access == "teacher" %>
              <td class="res-cell">
                <% if resume.active == false %>
                  <%= button_to "Activate", resume, method: :put, class: "btn btn-info btn-activate" %>
                <% else %>
                  <%= button_to "Deactivate", resume, method: :put, class: "btn btn-info btn-deactivate"%>
                <% end %>
              </td>
              <td class="res-cell"><%= button_to "Delete", resume, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you want to delete #{resume.name}?" %>
            </td>
          <% end %>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
<% if @current_user.access == "teacher" %>
  <%= link_to "Upload additional documents", resumes_additional_path, class: "btn btn-primary" %><br><br>
  <label>Note:</label><span> Your active documents will only be available to charter school leaders who express a recruitment need and will not be available to the general public.</span>
  <br />
  <br />
<% end %>
<h3>Job Seeker Details</h3>
<label><strong>Name:</strong></label> <%= @user.prefix == 'N/A' ? '' : @user.prefix%> <%= @user.first_name%> <%=@user.last_name%><br>
<label><strong>Email:</strong></label> <%= @user.email%><br>
<label><strong>Phone:</strong></label> <%= @user.phone_number %><br>
<label><strong>Registered for 2019 Fair:</strong></label> <%= @user.register2019 == 'both' || @user.register2019 == 'jobfaironly' ? 'Yes' : 'NO' %><br>
<label><strong>City of Residence:</strong></label> <%= @user.city %><br>
<label><strong>State of Residence:</strong></label> <%= @user.state%><br>
<label><strong>Highest Degree Earned:</strong></label> <%= @user.degree %><br>
<label><strong>Major:</strong></label> <%= @user.major %><br>
<label><strong>Graduate Degree Concentration:</strong></label> <%= @user.masters_concentration%><br>
<label><strong>Licensed in Illinois:</strong></label> <% if @user.il_licensed != "Other" %><%= @user.il_licensed %><% else %>Licensed in different state<% end %><br>
<label><strong>Licenses:</strong></label> <%= @user.licenses.map{|lic| lic.name }.to_sentence %><br>
<label><strong>Endorsements:</strong></label> <%= @user.endorsements.map{|endo| endo.name }.to_sentence %><br>
<label><strong>Years of Experience:</strong></label> <%= @user.years %><br>
<label><strong>Preferred Grade(s):</strong></label> <%= @user.grade_pref ? @user.grade_pref.to_sentence : '' %><br>
<label><strong>Location Preference:</strong></label> <%= @user.location_pref ? @user.location_pref.to_sentence : '' %> <br>
<label><strong>Prior Charter Experience:</strong></label> <%= @user.previous ? 'Yes' : 'No' %> <br>
<label><strong>Preferred Position(s):</strong></label> <%= @user.positions.map{|pos| pos.title }.to_sentence %><br>
<label><strong>Preferred Subject(s):</strong></label> <%= @user.subjects.map{|subj| subj.subject}.to_sentence %><br>
<label><strong>Additional Information:</strong></label> <div class="additional-info"><p><%= @user.additional %></p></div><br>

<% if @current_user.access == "admin" || (@current_user.access == "teacher" && @current_user.id == @user.id) %>
  <div class="actions">
    <%= button_to "Return to Home Page", root_path, :class => "btn btn-info btn-deactivate", :method => :get %>
    <%= button_to "Edit Information", edit_user_path, :class => "btn btn-primary", :method => :get %>
    <%= button_to "Delete Profile", @user, :class => "btn btn-danger", :method => :delete, :confirm => 'Are you sure you want to remove yourself from the INCS Resume Bank?' %>
  </div>
<% end %>
