<h2 class="admin-header"><%= @header %>:</h2>
<ul class="admin-buttons-list">
  <li class="admin-button">
    <% if @filter == 'bank-only' %>
      <a href="/users/teachers/?filter=bank-only"><button class="btn btn-info btn-active">Resume Bank Only</button></a>
    <% else %>
      <a href="/users/teachers/?filter=bank-only"><button class="btn btn-info">Resume Bank Only</button></a>
    <% end %>
  </li>
  <li class="admin-button">
    <% if @filter == '2017-job-fair' %>
      <a href="/users/teachers/?filter=2017-job-fair"><button class="btn btn-info btn-active">2017 Teacher Job Fair Registrants</button></a>
    <% else %>
      <a href="/users/teachers/?filter=2017-job-fair"><button class="btn btn-info">2017 Teacher Job Fair Registrants</button></a>
    <% end %>
  </li>
  <li class="admin-button">
    <% if @filter == '2016-job-fair' %>
      <a href="/users/teachers/?filter=2016-job-fair"><button class="btn btn-info btn-active">2016 Teacher Job Fair Registrants</button></a>
    <% else %>
      <a href="/users/teachers/?filter=2016-job-fair"><button class="btn btn-info">2016 Teacher Job Fair Registrants</button></a>
    <% end %>
  </li>
  <li class="admin-button">
    <% if @filter == '2017-job-fair-only' %>
      <a href="/users/teachers/?filter=2017-job-fair-only"><button class="btn btn-info btn-active">2017 Job Fair Only Registrants</button></a>
    <% else %>
      <a href="/users/teachers/?filter=2017-job-fair-only"><button class="btn btn-info">2017 Job Fair Only Registrants</button></a>
    <% end %>
  </li>
  <li class="admin-button">
    <% if @filter == '2016-job-fair-only' %>
      <a href="/users/teachers/?filter=2016-job-fair-only"><button class="btn btn-info btn-active">2016 Job Fair Only Registrants</button></a>
    <% else %>
      <a href="/users/teachers/?filter=2016-job-fair-only"><button class="btn btn-info">2016 Job Fair Only Registrants</button></a>
    <% end %>
  </li>
</ul>
<ul class="admin-buttons-list">
  <li class="admin-clear-button">
      <a href="/users/teachers/"><button class="btn btn-info">Clear Filters</button></a>
  </li>
</ul>
<h3><%= @users.count %> Results</h3>

<% @users.each do |user| %>
<div class="result">
  <label>Name:</label> <%= user.first_name %> <%= user.last_name %><br>
  <label>Email:</label> <%= user.email %><br>
  <label>Registered for 2017 Job Fair:</label> <% if user.register2017 == 'bank' || user.register2017 == nil %> No <% else %> Yes <% end %><br>
  <label>Active:</label> <% if user.is_active? %> Yes <% else %> No
  <% end %>
  <%= button_to "Delete", user, method: :delete, class: "btn btn-danger" %>
</div>
<% end %>

<% if User.find(session[:user_id]).access == "admin" || User.find(session[:user_id]).access == "school"%>
  <a href=<%="/users/teachers-csv?filter=#{@filter}"%>><button class="btn btn-info" id="gen-csv">Generate CSV</button></a>
<% end %>
