<div class="centered">
  <% if !flash[:notice].blank? %>
    <div class="alert alert-info">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <h1 class="main-header">Welcome to the INCS Online Resume Bank</h1>

  <% if session[:user_id] != nil && User.find(session[:user_id]).access == 'pending' %>
    <p>Thank you for your registration. Please allow up to 2 business days for INCS staff to process approval of your account. You have received an email with further information.</p>
  <% end %>


  <p class="main-content">

    <p class="main-content">
    Illinois charter public schools are seeking to hire talented teachers, teacher leaders, social workers, counselors, nurses, administrators and many other roles.
    </p>

    <p class="main-content">
    Please click “Job Seeker Registration” to join the INCS Online Resume Bank and share your professional profile and resume with charter school hiring managers year-round.
    </p>

    <p class ="main-content">
    Illinois charter public school hiring managers may click on “School Hiring Manager Registration” to join Resume Bank and search for candidates. 
    </p>
    <br>

    <% if session[:user_id] == nil %>
      <div class="main-container">
        <%= button_to "Candidate Resume Bank Registration", users_new_teacher_path, method: :get, class: "btn btn-info main-btn"%>
        <%= button_to "Hiring Manager Registration", users_new_school_path, method: :get, class: "btn btn-info main-btn"%>
      </div>
      <br>
    <% end %>

    <p class="main-content">
      <strong>Job Seeker Tips and Resources:</strong>
      <p class="main-content">
      Joining Resume Bank allows charter recruiters to find you. We strongly recommend that you also research current charter openings and <strong>apply directly with the schools</strong>. 
      <ol class="main-content-list">
        <li>Visit <a href="https://www.incschools.org/jobs-at-charter-schools/">Jobs at Charter Schools</a> on the INCS website to find job openings from across the charter sector.</li>
        <li><a href="https://www.incschools.org/find-a-charter-school/?">Research charter schools</a> and find the ones that are right for you.</li>
        <li>Visit charter school and charter network websites to find the most up-to-date job openings.</li>
      </ol>
      </p>

      <p class="main-content"><strong>Job Seeker Resources:</strong></p>
      <p class="main-content">
        <ul>
          <li><a href="https://www.teacherjobfair.org/uploads/FAQ.pdf">Teaching in Charter Schools FAQ (Frequently Asked Questions)</a></li>
          <li><a href="https://www.teacherjobfair.org/uploads/licCheatSheet.pdf">Illinois Educator Licensure Guide</a></li>
        </ul>
      </p>

      <p class="main-content"><strong>About Charter Schools:</strong></p>
      <p class="main-content">
      Charter schools are free, independent neighborhood public schools open to all children, including students who are English language learners and students with special needs. Charter schools do not have special entrance requirements and have the freedom to be innovative, while being held accountable for advancing student achievement.
      </p>

      <p class="main-content">
      Each charter public school is unique – both inside and out. Some may focus on college preparation, math and science, and others integrate the arts into each subject. While the possibilities are endless, charter public schools aim to provide a range of options so that parents can choose the school that best fits their child’s needs. 
      </p>

      <p class="main-content">
      Likewise, educators can choose to work for charters with missions, educational approaches and professional cultures aligned to their own beliefs and work styles. Visit <a href="https://www.incschools.org">www.incschools.org</a> to learn more about charter public schools.
      </p>

    </p>

  </p>

  <p class="main-content">
    <h2 class="main-header">2019 INCS Job Fair Recap</h2>
    <p class="main-content">
    The Illinois Network of Charter Schools (INCS) hosted its 14th annual <strong>Teacher & Administrator Job Fair</strong> Saturday, April 6. Representatives from charter public schools across the state attended to recruit high-quality talent to fill their job vacancies, including teaching, school leadership, social work, and administrative positions. Hundreds of job seekers attended the event. 
    </p>

    <p class="main-content-row">
      <%= image_tag("job_fair_one.png") %>
      <%= image_tag("job_fair_two.png") %>
    </p>

    <p class="main-content">
    Candidates and school leaders mingled during the meet and greet portion of the job fair. Dozens of candidates also interviewed with prospective employers on-site.
    </p>

    <p class="main-content">
    Valerie Butron said she was glad she attended the INCS job fair. “I had great conversations and am excited about the opportunities that I learned about today," she remarked. "I would recommend the fair to anyone looking to explore a career in charter schools in Illinois.”  "
    </p>

    <p class="main-content-row">
      <%= image_tag("job_fair_three.png") %>
      <%= image_tag("job_fair_four.png") %>
    </p>

    <p class="main-content">
    Teresa Jarrett, another job seeker, gave the fair a "10 out of 10 rating," saying she would highly recommend it to others. “The school leaders were engaging, and I met with representatives who truly care about kids and their educational experiences.”
    </p>

    <p class="main-content">
    INCS would like to thank ITW David Speer Academy, a campus of the Noble Network of Charter Schools, our sponsors, <a href="http://www.cstnchicago.com/">Charter Substitute Teacher Network</a>, <a href="http://www.hallagans.com">Hallagan Business Machines</a>, <a href="https://holbergfinancial.com/#/">Holberg Financial</a>, our official recruitment partners, <a href="https://www.bradley.edu/scc">Bradley University Smith Career Center</a>, <a href="https://education.depaul.edu/Pages/default.aspx">DePaul University College of Education</a>, <a href="https://www.sesp.northwestern.edu/msed/">Northwestern University Master of Science in Education</a>, <a href="https://www.sxu.edu/">Saint Xavier University College of Art and Sciences: Education</a> and <a href="http://national.careerservices.wgu.edu/">Western Governors University Career and Professional Development Center</a>, and the many other colleges and universities and partner organizations who assisted with outreach to job seekers for helping to make this event a success!
    </p>

  </p>

  <p class="main-content grayed">
    ABOUT INCS: The Illinois Network of Charter Schools (INCS) advocates for the improvement of public education by leveraging the charter school model as a catalyst to transform lives and communities. INCS works to ensure that charter public schools have adequate and equitable resources, the autonomy to find innovative approaches to meet student needs, and a fair and transparent policy landscape that allows high-quality options to thrive. As the voice of Illinois charter schools, INCS engages a diverse coalition of policymakers, school leaders, parents, and community members to create systemic change and secure high-quality schools for underserved communities. Learn more about us <a target="_blank" href="https://www.incschools.org/">here</a>. 
  </p>


</div>
