<div class="centered">
  <% if !flash[:notice].blank? %>
    <div class="alert alert-info">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <h1 class="main-header">Welcome to the INCS Online Resume Bank.</h1>
  <h1 class="main-header">Please join us at the 2019 INCS Teacher & Administrator Job Fair on April 6!</h1>
  <h3 class="sub-header">Register for the Job Fair and Resume Bank below.</h3>


  <% if session[:user_id] != nil && User.find(session[:user_id]).access == 'pending' %>
    <p>Thank you for your registration. Please allow up to 2 business days for INCS staff to process approval of your account. You have received an email with further information.</p>
  <% end %>

  <% if session[:user_id] == nil %>
    <div class="main-container">
      <%= button_to "Job Seeker Registration", users_new_teacher_path, method: :get, class: "btn btn-info main-btn"%>
      <%= button_to "Hiring Manager Registration", users_new_school_path, method: :get, class: "btn btn-info main-btn"%>
    </div>
  <% end %>

  <% if session[:user_id] != nil && User.find(session[:user_id]).access == 'teacher' && User.find(session[:user_id]).register2019 == 'bank' %>
    <div class="main-container">
    <%= button_to "Register for Job Fair", users_register_path, method: :post, class: "btn btn-info main-btn" %>
    </div>
  <% end %>

  <p class="main-content">
    <p class="main-content">
    The Illinois Network of Charter Schools (INCS) will host the Teacher & Administrator Job Fair on <span class="boldBig">Saturday, April 6, 2019</span>. Representatives from charter public schools across Illinois will be recruiting hundreds of teachers, social workers, counselors, nurses, and school administrators. INCS seeks highly-qualified candidates who are excited to work in a mission-driven environment and are ready to TEACH, LEAD, and SUCCEED. To register for the job fair and upload your resume into our year-round database, please select “Job Seeker Registration” above.
    </p>
    <br>

    <p class="main-content">
      <strong>Job Seekers will have the opportunity to:</strong>
      <ul class="main-content-list">
        <li>Meet recruiters from over 50 charter public schools.</li>
        <li>Post your resume in the INCS Online Resume Bank, which is circulated to Illinois charter school hiring
managers year-round.</li>
        <li>Interview on-site with schools looking to hire exceptional talent.</li>
      </ul>
    </p>

    <p class="main-content">
      <strong>Schools will have the opportunity to:</strong>
      <ul class="main-content-list">
        <li>Meet with hundreds of educators.</li>
        <li>View candidates’ resumes ahead of time using the INCS Online Resume Bank.</li>
        <li>Invite candidates for on-site interviews following the meet-and-greet portion of the event.</li>
        <%# <li>School leaders may learn more about the fair and register <a href="https://www.incschools.org/events/tjf/">here</a></li> %>
      </ul>
    </p>

    <p class="main-content"><strong>Agenda:</strong></p>
    <ul class="main-content-list">
      <li>9:00 am - 9:30 am: School set-up</li>
      <li>9:15 am - 10:00 am: Job Seeker registration</li>
      <li>10:00 am - 12:00 pm: Meet-and-Greet between Job Seekers and Schools</li>
      <li>12:00 pm - 1:30 pm: On-site Interviews (by invitation from charter school leaders only*)</li>
    </ul>

    <p class="main-content">
    *Interviews are conducted at the discretion of charter school leaders, who may contact job seekers in advance or invite them in person after the Meet-and-Greet portion of the fair. INCS does not have any additional information to share regarding interviews.
    </p>

    <p class="main-content"><strong>Location:</strong></p>
    <p class="main-content">
      ITW David Speer Academy, a campus of the Noble Network of Charter Schools
      5321 W. Grand Ave, Chicago, IL 60639
    </p>

    <p class="main-content"><strong>Parking:</strong></p>
    <p class="main-content">
      Parking is available on Grand Avenue and in the Prosser Career Academy parking lot, across from Speer Academy. 
    </p>
    <br>

    <p class="main-content">
      Did you know INCS also has a <span class="bold">jobs board</span>? <a href="https://www.incschools.org/jobs-at-charter-schools/">Click here</a> to browse current openings in Illinois charter public schools.
    </p>

    <p class="main-content">
      To find a charter public school near you, please visit us <a href="https://www.incschools.org/about-charters/find-a-charter-school/">here</a>.
    </p>

    <p class="main-content">
      If you have questions or would like to receive outreach materials, please contact Anne Levy Brown, INCS Charter Growth Manager, at <%=mail_to("alevybrown@incschools.org")%>
    </p>
  </p>

  <p class="main-content grayed">
    ABOUT INCS: The Illinois Network of Charter Schools (INCS) advocates for the improvement of public education by leveraging the charter school model as a catalyst to transform lives and communities. INCS works to ensure that charter public schools have adequate and equitable resources, the autonomy to find innovative approaches to meet student needs, and a fair and transparent policy landscape that allows high-quality options to thrive. As the voice of Illinois charter schools, INCS engages a diverse coalition of policymakers, school leaders, parents, and community members to create systemic change and secure high-quality schools for underserved communities. Learn more about us <a target="_blank" href="https://www.incschools.org/">here</a>. 
  </p>


</div>
