<% if !flash[:notice].blank? %>
  <div class="alert alert-info">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if !@resume.errors.empty? %>
  <div class="alert alert-error">
    <ul>
      <% @resume.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h3>Please upload your resume to complete your registration. A resume is required for registration to the job fair but it will only be included in the INCS Resume Bank if you opted in on the previous page. You will always have the chance to remove your resume from the database on your profile page.</h3>

<div class="well">
  <%= form_for @resume, html: { multipart: true} do |f| %>
    <%= f.hidden_field :name, value: "Resume" %>
    <%= f.label(:name, "Resume:") %>
    <%= f.file_field :attachment %>
    <%= f.submit "Upload", class: "btn btn-primary btn-submit" %>
    <%= f.hidden_field :active, value: false %>
    <a href="/users/<%= User.find(session[:user_id]).id %>">
      <button class="btn btn-danger">Skip</button>
    </a>
  <% end %>
</div>
