<% if !@resume.errors.empty? %>
  <div class="alert alert-error">
    <ul>
      <% @resume.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h3>Please upload your resume before continuing with registration. A resume is required for registration to the job fair but you will have the option to remove your resume from the online resume bank on the next page.</h3>

<div class="well">
  <%= form_for @resume, html: { multipart: true} do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :attachment %>
    <%= f.file_field :attachment %>
    <%= f.hidden_field :active, value: false %>
    <%= f.submit "Upload", class: "btn btn-primary" %>
  <% end %>
</div>