<% if !flash[:notice].blank? %>
  <div class="alert alert-info">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if !@resume.errors.empty? %>
  <div class="alert alert-error">
    <ul>
      <% @resume.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h3 class="main-content">Please upload your resume to complete your registration.</h3> 
<p class="main-content disclaimer">You will always have the chance to update or remove your resume from the database on your profile page.</p>

<div class="well">
  <%= form_for @resume, html: { multipart: true} do |f| %>
    <%= f.hidden_field :name, value: "Resume" %>
    <%= f.label(:name, "Resume:") %>
    <%= f.file_field :attachment %>
    <%= f.submit "Upload", class: "btn btn-primary btn-submit" %>
    <%= f.hidden_field :active, value: false %>
  <% end %>
</div>
