<!DOCTYPE html>
<html>
<head>
  <title>Resume Bank | INCS</title>
  <link rel="apple-touch-icon-precomposed" href="favicon_32x32.ico"/>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
        <a class="navbar-brand" href="https://www.incschools.org/">
          <%=image_tag("logo.png")%>
        </a>
    <ul class="nav nav-pills navbar-right">
      <li role="presentation"><a href="/">Home</a></li>
      <% if session[:user_id] %>
        <% if User.find(session[:user_id]).access == "teacher" %>
          <li role="presentation"><a href="/users/<%=session[:user_id]%>">Profile</a></li>
        <% elsif User.find(session[:user_id]).access == "pending" %>

        <% elsif User.find(session[:user_id]).access == "admin" %>
          <li role="presentation"><a href="/users/pending">Pending Registrations</a></li>
          <li role="presentation"><a href="/users/school/<%=session[:user_id]%>">Search</a></li>
        <% elsif User.find(session[:user_id]).access == "school" %>
          <li role="presentation"><a href="/users/school/<%=session[:user_id]%>">Search</a></li>
        <% end %>
        <li role="presentation"><%= link_to "Log out", { controller: :sessions, action: :destroy, id: session[:user_id] }, method: :delete %></li>
      <% else %>
        <li role="presentation"><%=link_to "Log In", new_session_path %></li>
      <% end %>
    </ul>
    <div class="banner"><a href="https://www.incschools.org/events/tjf/">
      <%= image_tag("banner.png", width:"100%") %>
      </a>
    </div>
    </nav>
  <div class="container" style="padding-top:80px;">
    <%= yield %>
  </div>
  <footer class="footer"><div class="prim-1"></div><div class="prim-2"></div><div class="prim-3"></div><div class="prim-4"></div></footer>
</body>
<%= render 'layouts/footer' %>
</html>