<!DOCTYPE html>
<html>
<head>
  <title>Resume Bank | INCS</title>
  <link rel="apple-touch-icon-precomposed" href="favicon_32x32.ico"/>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
        <a class="navbar-brand" href="https://www.incschools.org/">
          <%=image_tag("logo.png")%>
        </a>
    <ul class="nav nav-pills navbar-right">
      <li role="presentation"><a href="/">Home</a></li>
      <% if session[:user_id] %>
        <% if User.find(session[:user_id]).access == "teacher" %>
          <li role="presentation"><a href="/users/<%=session[:user_id]%>">Profile</a></li>
        <% elsif User.find(session[:user_id]).access == "pending" %>

        <% elsif User.find(session[:user_id]).access == "admin" %>
          <li role="presentation"><a href="/admin">Admin</a></li>
          <li role="presentation"><a href="/users/pending">Pending Schools</a></li>
          <li role="presentation"><a href="/users/schools">All Schools</a></li>
          <li role="presentation"><a href="/admin/new_school">New School</a></li>
          <li role="presentation"><a href="/users/teachers">All Candidates</a></li>
          <li role="presentation"><a href="/users/school/<%=session[:user_id]%>">Search</a></li>
        <% elsif User.find(session[:user_id]).access == "school" %>
          <li role="presentation"><a href="/users/school/<%=session[:user_id]%>">Search</a></li>
        <% end %>
        <li role="presentation"><%= link_to "Log out", { controller: :sessions, action: :destroy, id: session[:user_id] }, method: :delete %></li>
      <% else %>
        <li role="presentation"><%=link_to "Log In", new_session_path %></li>
      <% end %>
    </ul>
    <div class="banner">
      <%= image_tag("banner.jpg", width:"100%") %>
    </div>
    </nav>
    <% if session[:user_id] %>
      <% if User.find(session[:user_id]).access == "teacher" %>
        <div class="home-main-container">
          <div class="container" style="padding-top:80px;">
            <%= yield %>
          </div>
          <div class="resources-container" style="padding-top:92px;">
            <h3 class="sub-header">Job Seeker Resources</h3>
            <ul>
              <li>
                <%= link_to "Illinois license information", "/uploads/licCheatSheet.pdf" %>
              </li>
            </ul>
          </div>
        </div>
      <% else %>
        <div class="container" style="padding-top:80px;">
          <%= yield %>
        </div>
      <% end %>
    <% else %>
      <div class="container" style="padding-top:80px;">
        <%= yield %>
      </div>
    <% end %>
  <footer class="footer"><div class="prim-1"></div><div class="prim-2"></div><div class="prim-3"></div><div class="prim-4"></div></footer>
</body>
<%= render 'layouts/footer' %>
</html>
